
# This is a basic workflow to help you get started with Actions
name: Docker build and publish

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build-publish"
  build-publish:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out code
        uses: actions/checkout@v2
        with:
          submodules: true # to also include HUGO themes which are submodules

      # Build and push Docker image part of the workflow (custom Action)
      #- name: Build and push Docker image
      #  uses: mr-smithers-excellent/docker-build-push@v5
      #  with:
      #    image: notcenzo/hugo-site
      #    tags: v0
      #    registry: docker.io
      #    dockerfile: Dockerfile
      #    username: ${{ secrets.DOCKERHUB_USER }}
      #    password: ${{ secrets.DOCKERHUB_PSW }}
      #    
      
      # Set up Docker Buildx (official Github Action)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PSW }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: notcenzo/hugo-site:v0
      
      # Deploy on k8s
      - name: Deploy website on K8s cluster
        uses: giorio94/kubectl-oidc-action@1.1.0
        with:
          kubeconfig: ${{ secrets.KUBECONFIG }}
          args: apply -f template-deploy.yml --namespace=sandbox-s291504

